.landing {
    margin: 5rem 10rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include responsive(pc) {
        margin: 0;
    }

    .left {

        @include responsive(pc) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/landing-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            padding: 6rem 0;
        }

        h1 {
            font-size: 7rem;
            text-transform: uppercase;
            line-height: 70px;

            @include responsive(pc) {
                text-align: center;
                font-size: 5rem;
            }

            span {
                color: $mainColor;
            }
        }

        button {
            background-color: $mainColor;
            padding: 1.5rem 3rem;
            border: none;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            text-align: center;
            margin-top: 2rem;
            font-size: 2rem;
            cursor: pointer;

            @include responsive(pc) {
                display: block;
                margin: 2rem auto;
            }

            &:hover {
                background-color: #666666;
                color: #ffffff;
            }
        }
    }

    .right {
        height: 45rem;
        width: auto;

        @include responsive(pc) {
            display: none;
        }
    }

    .socials {
        position: absolute;
        right: 0;
        top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
        margin-right: 2rem;

        @include responsive(pc) {
            display: none;
        }

        i {
            font-size: 2rem;
            cursor: pointer;

            &:hover {
                color: $mainColor;
            }
        }
    }
}