.stats {
    margin: 10rem 0;
    background-color: $mainColor;
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;

    @include responsive(pc) {
        padding: 2rem;
    }

    @include responsive(tablet) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        row-gap: 2rem;
    }

    .stat {
        text-align: center;
        color: #000000;
        text-transform: uppercase;

        h4 {
            font-size: 12rem;
            font-family: $upperFont;
            letter-spacing: 5px;

            @include responsive(pc) {
                font-size: 5rem;
                letter-spacing: 2px;
            }
        }

        p {
            font-size: 3rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            max-width: 20rem;
        }
    }
}