// Fonts
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$linkFont: 'Staatliches', cursive;
$upperFont: 'Bebas Neue', sans-serif;

// Colors

$mainColor: #ff81e9;

@mixin titles {

    .titles {
        h2 {
            font-size: 9rem;
            color: hsla(0, 0%, 100%, 0.15);
            text-transform: uppercase;
            text-align: center;
            font-family: $upperFont;
            letter-spacing: 10px;

            @include responsive(tablet) {
                font-size: 5rem;
                letter-spacing: 3px;
            }
        }
    
        h3 {
            font-size: 5rem;
            margin-top: -7rem;
            text-transform: uppercase;
            text-align: center;
            font-family: $upperFont;
            letter-spacing: 10px;

            @include responsive(tablet) {
                font-size: 3rem;
                letter-spacing: 3px;
                margin-top: -4rem;
            }
        }
    }
}


//Mixin responsive
$pc: 992px;
$tablet: 768px;

@mixin responsive ($medida) {
    @if $medida == pc {
        @media (max-width: $pc) {
            @content;
        }
    } @else if $medida == tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }
}